body{
    font-family: 'Oswald', sans-serif;
}
.half-width img{
    width: 80%;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.fexible-container{
    display: flex;
    margin-bottom: 50px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
}
.salmon-color{
    color: salmon;
}
#border{
  
    border-left: 3px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-radius: 5px;
    padding-left: 7px;
}
.button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 25px;
}

#center{
    text-align: center;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    color: #13103A;
}
.small-illu{
    width: 40%;
}
.card-bg{
    background-color: rgb(177, 202, 228);
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;

}
.card-bg h3 {
    font-size: 25px;
    font-weight: 700;
}
.card-bg p{
    color: rgb(77, 76, 76);
}
#color-1{
    background-color: rgb(211, 190, 188);
}
#color-2{
    background-color: rgb(196, 138, 127);
}

.left{
    width: 50%;
    margin-left:-70px  ;
    
}
h2{
    font-size: 30px;
}
.left img{
    width: 60%;
    margin-left: 150px;
    
}
.radius{
    border-radius: 15px;
}
.social-border{
    
    margin-top: 40px;
     margin-left: 5%;
     margin-right: 5%;
  padding: 3%;
     box-shadow: 10px 10px 40px  gray;
     border-radius: 15px;
     
 }
 .flex{
    display: flex;
   margin-bottom: 40px;
}
 #youtube{
    text-align: left;
padding-left: 10%;

}
#instragram{
    text-align: center;
    padding-left: 20%;
}
#Likes{
    text-align: right;
    padding-left: 25%;
}
footer{
    background-color: rgb(2, 2, 27);
    text-align: center;
    color: white;
    

}
footer h2{
    font-family: 'Moon Dance', cursive;
}